.header {
  text-align: center;
  padding: 5px;
  text-decoration: none;

  a {
    text-decoration: none;
  }

  &.dark,
  &.dark > * {
    background-color: #000;
    color: #fff;
  }

  &.light,
  &.light > * {
    background-color: #fff;
    color: #444;
  }
}
